In [3]:
from datetime import date

subjects = [
    {
        "subject_id": "rbndt001",
        "name": "Eléa",
        "sex": "f",
        "birth_date": date(1968, 3, 1),
    },
    {
        "subject_id": "rbndt002",
        "name": "Païkan",
        "sex": "m",
        "birth_date": date(1968, 3, 2),
    },
    {
        "subject_id": "rbndt003",
        "name": "Lukos",
        "sex": "m",
        "birth_date": date(1968, 3, 3),
    },
]

images = [
    {
        "subject_id": "rbndt001",
        "acquisition_type": "t1_mri",
        "tags": ["image", "mri", "t1", "acquisition"],
        "format": "DICOM",
        "files": [
            "/somewhere/d345653/acq0001.dcm",
            "/somewhere/d345653/acq0002.dcm",
            "/somewhere/d345653/acq0003.dcm",
            "/somewhere/d345653/acq0004.dcm",
        ],
        "date": date(2022, 3, 28),
    },
    {
        "subject_id": "rbndt001",
        "acquisition_type": "t2_mri",
        "tags": ["image", "mri", "T2", "acquisition"],
        "format": "DICOM",
        "files": [
            "/somewhere/e465475/acq0001.dcm",
            "/somewhere/e465475/acq0002.dcm",
            "/somewhere/e465475/acq0003.dcm",
            "/somewhere/e465475/acq0004.dcm",
        ],
        "date": date(2022, 3, 28),
    },
    {
        "subject_id": "rbndt002",
        "acquisition_type": "t1_mri",
        "tags": ["image", "mri", "t1", "acquisition"],
        "format": "DICOM",
        "files": [
            "/somewhere/f569012/acq0001.dcm",
            "/somewhere/f569012/acq0002.dcm",
            "/somewhere/f569012/acq0003.dcm",
            "/somewhere/f569012/acq0004.dcm",
        ],
        "date": date(2022, 3, 29),
    },
    {
        "subject_id": "rbndt002",
        "acquisition_type": "t2_mri",
        "tags": ["image", "mri", "T2", "acquisition"],
        "format": "DICOM",
        "files": [
            "/somewhere/l729633/acq0001.dcm",
            "/somewhere/l729633/acq0002.dcm",
            "/somewhere/l729633/acq0003.dcm",
            "/somewhere/l729633/acq0004.dcm",
        ],
        "date": date(2022, 3, 29),
    },
    {
        "subject_id": "rbndt001",
        "acquisition_type": "t1_mri",
        "tags": ["image", "mri", "t1", "converted", "bids"],
        "format": "NIFTI",
        "files": [
            "/elsewhere/rbndt001/sub-rbndt001-t1.nii",
        ],
        "date": date(2022, 3, 28),
    },
    {
        "subject_id": "rbndt001",
        "acquisition_type": "t2_mri",
        "tags": ["image", "mri", "t2", "converted", "bids"],
        "format": "NIFTI",
        "files": [
            "/elsewhere/rbndt001/sub-rbndt001-t2.nii",
        ],
        "date": date(2022, 3, 28),
    },
    {
        "subject_id": "rbndt002",
        "acquisition_type": "t1_mri",
        "tags": ["image", "mri", "t1", "converted", "bids"],
        "format": "NIFTI",
        "files": [
            "/elsewhere/rbndt002/sub-rbndt002-t1.nii",
        ],
        "date": date(2022, 3, 29),
    },
    {
        "subject_id": "rbndt002",
        "acquisition_type": "t2_mri",
        "tags": ["image", "mri", "t2", "converted", "bids"],
        "format": "NIFTI",
        "files": [
            "/elsewhere/rbndt002/sub-rbndt002-t2.nii",
        ],
        "date": date(2022, 3, 29),
    },
]

In [5]:
import os
import sys
from datetime import date, datetime

from populse_db import Storage

db_path = "/tmp/populse_db.sqlite"
if os.path.exists(db_path):
    os.remove(db_path)
storage = Storage(db_path, echo_sql=sys.stdout)

# Create a read/write session
with storage.data(write=True, create=True) as data:
    data.last_modified = datetime.now()

    # Store documents in the database
    data.subjects = subjects
    data["images"] = images

SELECT name FROM sqlite_master WHERE type='table'
CREATE TABLE [_] ([_] str NOT NULL,_catchall dict,PRIMARY KEY ([_]))
pragma table_info([_])
INSERT OR REPLACE INTO [_] ([_],[_catchall]) values (?,?) ['_', '{}']
ALTER TABLE [_] ADD COLUMN [last_modified] datetime
CREATE TABLE IF NOT EXISTS [populse_db] (category TEXT NOT NULL,key TEXT NOT NULL,_json TEXT,PRIMARY KEY (category, key))
INSERT OR REPLACE INTO populse_db (category, key, _json) VALUES (?,?,?) ['collection', '_', '{"fields":{"last_modified":{"description":null,"index":false,"bad_json":false}}}']
UPDATE [_] SET [last_modified]=? WHERE [_]=? ['2024-06-25T15:07:24.899670', '_']
ALTER TABLE [_] ADD COLUMN [subjects] list
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', '_']
INSERT OR REPLACE INTO populse_db (category, key, _json) VALUES (?,?,?) ['collection', '_', '{"fields":{"last_modified":{"description":null,"index":false,"bad_json":false},"subjects":{"description":null,"index":false,"bad_json":true}}}']
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', '_']
INSERT OR REPLACE INTO populse_db (category, key, _json) VALUES (?,?,?) ['collection', '_', '{"fields":{"last_modified":{"description":null,"index":false,"bad_json":false},"subjects":{"description":null,"index":false,"bad_json":true}}}']
UPDATE [_] SET [subjects]=? WHERE [_]=? ['[{"subject_id":"rbndt001","name":"El\\u00e9a","sex":"f","birth_date":"1968-03-01\\u2139date\\u2139"},{"subject_id":"rbndt002","name":"Pa\\u00efkan","sex":"m","birth_date":"1968-03-02\\u2139date\\u2139"},{"subject_id":"rbndt003","name":"Lukos","sex":"m","birth_date":"1968-03-03\\u2139date\\u2139"}]', '_']
ALTER TABLE [_] ADD COLUMN [images] list
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', '_']
INSERT OR REPLACE INTO populse_db (category, key, _json) VALUES (?,?,?) ['collection', '_', '{"fields":{"last_modified":{"description":null,"index":false,"bad_json":false},"subjects":{"description":null,"index":false,"bad_json":true},"images":{"description":null,"index":false,"bad_json":true}}}']
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', '_']
INSERT OR REPLACE INTO populse_db (category, key, _json) VALUES (?,?,?) ['collection', '_', '{"fields":{"last_modified":{"description":null,"index":false,"bad_json":false},"subjects":{"description":null,"index":false,"bad_json":true},"images":{"description":null,"index":false,"bad_json":true}}}']
UPDATE [_] SET [images]=? WHERE [_]=? ['[{"subject_id":"rbndt001","acquisition_type":"t1_mri","tags":["image","mri","t1","acquisition"],"format":"DICOM","files":["/somewhere/d345653/acq0001.dcm","/somewhere/d345653/acq0002.dcm","/somewhere/d345653/acq0003.dcm","/somewhere/d345653/acq0004.dcm"],"date":"2022-03-28\\u2139date\\u2139"},{"subject_id":"rbndt001","acquisition_type":"t2_mri","tags":["image","mri","T2","acquisition"],"format":"DICOM","files":["/somewhere/e465475/acq0001.dcm","/somewhere/e465475/acq0002.dcm","/somewhere/e465475/acq0003.dcm","/somewhere/e465475/acq0004.dcm"],"date":"2022-03-28\\u2139date\\u2139"},{"subject_id":"rbndt002","acquisition_type":"t1_mri","tags":["image","mri","t1","acquisition"],"format":"DICOM","files":["/somewhere/f569012/acq0001.dcm","/somewhere/f569012/acq0002.dcm","/somewhere/f569012/acq0003.dcm","/somewhere/f569012/acq0004.dcm"],"date":"2022-03-29\\u2139date\\u2139"},{"subject_id":"rbndt002","acquisition_type":"t2_mri","tags":["image","mri","T2","acquisition"],"format":"DICOM","files":["/somewhere/l729633/acq0001.dcm","/somewhere/l729633/acq0002.dcm","/somewhere/l729633/acq0003.dcm","/somewhere/l729633/acq0004.dcm"],"date":"2022-03-29\\u2139date\\u2139"},{"subject_id":"rbndt001","acquisition_type":"t1_mri","tags":["image","mri","t1","converted","bids"],"format":"NIFTI","files":["/elsewhere/rbndt001/sub-rbndt001-t1.nii"],"date":"2022-03-28\\u2139date\\u2139"},{"subject_id":"rbndt001","acquisition_type":"t2_mri","tags":["image","mri","t2","converted","bids"],"format":"NIFTI","files":["/elsewhere/rbndt001/sub-rbndt001-t2.nii"],"date":"2022-03-28\\u2139date\\u2139"},{"subject_id":"rbndt002","acquisition_type":"t1_mri","tags":["image","mri","t1","converted","bids"],"format":"NIFTI","files":["/elsewhere/rbndt002/sub-rbndt002-t1.nii"],"date":"2022-03-29\\u2139date\\u2139"},{"subject_id":"rbndt002","acquisition_type":"t2_mri","tags":["image","mri","t2","converted","bids"],"format":"NIFTI","files":["/elsewhere/rbndt002/sub-rbndt002-t2.nii"],"date":"2022-03-29\\u2139date\\u2139"}]', '_']

In [6]:
with storage.data() as data:
    subjects = data.subjects.get()
    images = data.images.get()
subjects

SELECT name FROM sqlite_master WHERE type='table'
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', '_']
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', '_']
pragma table_info([_])
SELECT [subjects] FROM [_] WHERE [_] = ? ('_',)
SELECT [images] FROM [_] WHERE [_] = ? ('_',)

[{'subject_id': 'rbndt001',
  'name': 'Eléa',
  'sex': 'f',
  'birth_date': datetime.date(1968, 3, 1)},
 {'subject_id': 'rbndt002',
  'name': 'Païkan',
  'sex': 'm',
  'birth_date': datetime.date(1968, 3, 2)},
 {'subject_id': 'rbndt003',
  'name': 'Lukos',
  'sex': 'm',
  'birth_date': datetime.date(1968, 3, 3)}]

In [7]:
[i for i in images if "acquisition" in i["tags"]]

[{'subject_id': 'rbndt001',
  'acquisition_type': 't1_mri',
  'tags': ['image', 'mri', 't1', 'acquisition'],
  'format': 'DICOM',
  'files': ['/somewhere/d345653/acq0001.dcm',
   '/somewhere/d345653/acq0002.dcm',
   '/somewhere/d345653/acq0003.dcm',
   '/somewhere/d345653/acq0004.dcm'],
  'date': datetime.date(2022, 3, 28)},
 {'subject_id': 'rbndt001',
  'acquisition_type': 't2_mri',
  'tags': ['image', 'mri', 'T2', 'acquisition'],
  'format': 'DICOM',
  'files': ['/somewhere/e465475/acq0001.dcm',
   '/somewhere/e465475/acq0002.dcm',
   '/somewhere/e465475/acq0003.dcm',
   '/somewhere/e465475/acq0004.dcm'],
  'date': datetime.date(2022, 3, 28)},
 {'subject_id': 'rbndt002',
  'acquisition_type': 't1_mri',
  'tags': ['image', 'mri', 't1', 'acquisition'],
  'format': 'DICOM',
  'files': ['/somewhere/f569012/acq0001.dcm',
   '/somewhere/f569012/acq0002.dcm',
   '/somewhere/f569012/acq0003.dcm',
   '/somewhere/f569012/acq0004.dcm'],
  'date': datetime.date(2022, 3, 29)},
 {'subject_id': 'rbndt002',
  'acquisition_type': 't2_mri',
  'tags': ['image', 'mri', 'T2', 'acquisition'],
  'format': 'DICOM',
  'files': ['/somewhere/l729633/acq0001.dcm',
   '/somewhere/l729633/acq0002.dcm',
   '/somewhere/l729633/acq0003.dcm',
   '/somewhere/l729633/acq0004.dcm'],
  'date': datetime.date(2022, 3, 29)}]

In [9]:
if os.path.exists(db_path):
    os.remove(db_path)
storage = Storage(db_path, echo_sql=sys.stdout)
with storage.schema() as schema:
    schema.add_collection('subjects', 'subject_id')
    schema.add_collection('images', ('subject_id', 'acquisition_type', 'format'))

with storage.data(write=True) as data:
    data.last_modified = datetime.now()

    # Store documents in the database
    data.subjects = subjects
    data.images = images

SELECT name FROM sqlite_master WHERE type='table'
CREATE TABLE [_] ([_] str NOT NULL,_catchall dict,PRIMARY KEY ([_]))
pragma table_info([_])
INSERT OR REPLACE INTO [_] ([_],[_catchall]) values (?,?) ['_', '{}']
CREATE TABLE [subjects] ([subject_id] str NOT NULL,_catchall dict,PRIMARY KEY ([subject_id]))
pragma table_info([subjects])
CREATE TABLE [images] ([subject_id] str NOT NULL,[acquisition_type] str NOT NULL,[format] str NOT NULL,_catchall dict,PRIMARY KEY ([subject_id],[acquisition_type],[format]))
pragma table_info([images])
SELECT name FROM sqlite_master WHERE type='table'
pragma table_info([_])
pragma table_info([subjects])
pragma table_info([images])
ALTER TABLE [_] ADD COLUMN [last_modified] datetime
CREATE TABLE IF NOT EXISTS [populse_db] (category TEXT NOT NULL,key TEXT NOT NULL,_json TEXT,PRIMARY KEY (category, key))
INSERT OR REPLACE INTO populse_db (category, key, _json) VALUES (?,?,?) ['collection', '_', '{"fields":{"last_modified":{"description":null,"index":false,"bad_json":false}}}']
UPDATE [_] SET [last_modified]=? WHERE [_]=? ['2024-06-25T15:08:40.900557', '_']
DELETE FROM [subjects]
ALTER TABLE [subjects] ADD COLUMN [birth_date] date
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', 'subjects']
INSERT OR REPLACE INTO populse_db (category, key, _json) VALUES (?,?,?) ['collection', 'subjects', '{"fields":{"birth_date":{"description":null,"index":false,"bad_json":false}}}']
INSERT INTO [subjects] ([subject_id],[birth_date],[_catchall]) values (?,?,?) ['rbndt001', '1968-03-01', '{"name":"El\\u00e9a","sex":"f"}']
INSERT INTO [subjects] ([subject_id],[birth_date],[_catchall]) values (?,?,?) ['rbndt002', '1968-03-02', '{"name":"Pa\\u00efkan","sex":"m"}']
INSERT INTO [subjects] ([subject_id],[birth_date],[_catchall]) values (?,?,?) ['rbndt003', '1968-03-03', '{"name":"Lukos","sex":"m"}']
DELETE FROM [images]
ALTER TABLE [images] ADD COLUMN [date] date
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', 'images']
INSERT OR REPLACE INTO populse_db (category, key, _json) VALUES (?,?,?) ['collection', 'images', '{"fields":{"date":{"description":null,"index":false,"bad_json":false}}}']
INSERT INTO [images] ([subject_id],[acquisition_type],[format],[date],[_catchall]) values (?,?,?,?,?) ['rbndt001', 't1_mri', 'DICOM', '2022-03-28', '{"tags":["image","mri","t1","acquisition"],"files":["/somewhere/d345653/acq0001.dcm","/somewhere/d345653/acq0002.dcm","/somewhere/d345653/acq0003.dcm","/somewhere/d345653/acq0004.dcm"]}']
INSERT INTO [images] ([subject_id],[acquisition_type],[format],[date],[_catchall]) values (?,?,?,?,?) ['rbndt001', 't2_mri', 'DICOM', '2022-03-28', '{"tags":["image","mri","T2","acquisition"],"files":["/somewhere/e465475/acq0001.dcm","/somewhere/e465475/acq0002.dcm","/somewhere/e465475/acq0003.dcm","/somewhere/e465475/acq0004.dcm"]}']
INSERT INTO [images] ([subject_id],[acquisition_type],[format],[date],[_catchall]) values (?,?,?,?,?) ['rbndt002', 't1_mri', 'DICOM', '2022-03-29', '{"tags":["image","mri","t1","acquisition"],"files":["/somewhere/f569012/acq0001.dcm","/somewhere/f569012/acq0002.dcm","/somewhere/f569012/acq0003.dcm","/somewhere/f569012/acq0004.dcm"]}']
INSERT INTO [images] ([subject_id],[acquisition_type],[format],[date],[_catchall]) values (?,?,?,?,?) ['rbndt002', 't2_mri', 'DICOM', '2022-03-29', '{"tags":["image","mri","T2","acquisition"],"files":["/somewhere/l729633/acq0001.dcm","/somewhere/l729633/acq0002.dcm","/somewhere/l729633/acq0003.dcm","/somewhere/l729633/acq0004.dcm"]}']
INSERT INTO [images] ([subject_id],[acquisition_type],[format],[date],[_catchall]) values (?,?,?,?,?) ['rbndt001', 't1_mri', 'NIFTI', '2022-03-28', '{"tags":["image","mri","t1","converted","bids"],"files":["/elsewhere/rbndt001/sub-rbndt001-t1.nii"]}']
INSERT INTO [images] ([subject_id],[acquisition_type],[format],[date],[_catchall]) values (?,?,?,?,?) ['rbndt001', 't2_mri', 'NIFTI', '2022-03-28', '{"tags":["image","mri","t2","converted","bids"],"files":["/elsewhere/rbndt001/sub-rbndt001-t2.nii"]}']
INSERT INTO [images] ([subject_id],[acquisition_type],[format],[date],[_catchall]) values (?,?,?,?,?) ['rbndt002', 't1_mri', 'NIFTI', '2022-03-29', '{"tags":["image","mri","t1","converted","bids"],"files":["/elsewhere/rbndt002/sub-rbndt002-t1.nii"]}']
INSERT INTO [images] ([subject_id],[acquisition_type],[format],[date],[_catchall]) values (?,?,?,?,?) ['rbndt002', 't2_mri', 'NIFTI', '2022-03-29', '{"tags":["image","mri","t2","converted","bids"],"files":["/elsewhere/rbndt002/sub-rbndt002-t2.nii"]}']

In [10]:
data = storage.start_session(write=True)
data.subjects.rbndt001.get()

SELECT name FROM sqlite_master WHERE type='table'
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', '_']
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', '_']
pragma table_info([_])
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', 'subjects']
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', 'subjects']
pragma table_info([subjects])
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', 'images']
SELECT _json FROM [populse_db] WHERE category=? and key=? ['collection', 'images']
pragma table_info([images])
SELECT [subject_id],[birth_date],_catchall FROM [subjects] WHERE [subject_id] = ? ('rbndt001',)

{'name': 'Eléa',
 'sex': 'f',
 'subject_id': 'rbndt001',
 'birth_date': datetime.date(1968, 3, 1)}

In [12]:
data.subjects.rbndt001.comment = 'moved from Paris to Berlin in 2022'
data.subjects.rbndt001.get()

UPDATE [subjects] SET [_catchall]=json_patch(IFNULL([_catchall],"{}"),?) WHERE [subject_id]=? ['{"comment":"moved from Paris to Berlin in 2022"}', 'rbndt001']
SELECT [subject_id],[birth_date],_catchall FROM [subjects] WHERE [subject_id] = ? ('rbndt001',)

{'name': 'Eléa',
 'sex': 'f',
 'comment': 'moved from Paris to Berlin in 2022',
 'subject_id': 'rbndt001',
 'birth_date': datetime.date(1968, 3, 1)}

In [13]:
data.subjects.rbndt001.name.get()

SELECT json_extract([_catchall],'$.name') FROM [subjects] WHERE [subject_id] = ? ('rbndt001',)

'Eléa'

In [14]:
data.images.search('"acquisition" in tags')

SELECT [subject_id],[acquisition_type],[format],[date],_catchall FROM [images] WHERE json_extract([_catchall],'$."tags"') IS NOT NULL AND 'acquisition' IN (SELECT value FROM json_each(json_extract([_catchall],'$."tags"')))

[{'tags': ['image', 'mri', 't1', 'acquisition'],
  'files': ['/somewhere/d345653/acq0001.dcm',
   '/somewhere/d345653/acq0002.dcm',
   '/somewhere/d345653/acq0003.dcm',
   '/somewhere/d345653/acq0004.dcm'],
  'subject_id': 'rbndt001',
  'acquisition_type': 't1_mri',
  'format': 'DICOM',
  'date': datetime.date(2022, 3, 28)},
 {'tags': ['image', 'mri', 'T2', 'acquisition'],
  'files': ['/somewhere/e465475/acq0001.dcm',
   '/somewhere/e465475/acq0002.dcm',
   '/somewhere/e465475/acq0003.dcm',
   '/somewhere/e465475/acq0004.dcm'],
  'subject_id': 'rbndt001',
  'acquisition_type': 't2_mri',
  'format': 'DICOM',
  'date': datetime.date(2022, 3, 28)},
 {'tags': ['image', 'mri', 't1', 'acquisition'],
  'files': ['/somewhere/f569012/acq0001.dcm',
   '/somewhere/f569012/acq0002.dcm',
   '/somewhere/f569012/acq0003.dcm',
   '/somewhere/f569012/acq0004.dcm'],
  'subject_id': 'rbndt002',
  'acquisition_type': 't1_mri',
  'format': 'DICOM',
  'date': datetime.date(2022, 3, 29)},
 {'tags': ['image', 'mri', 'T2', 'acquisition'],
  'files': ['/somewhere/l729633/acq0001.dcm',
   '/somewhere/l729633/acq0002.dcm',
   '/somewhere/l729633/acq0003.dcm',
   '/somewhere/l729633/acq0004.dcm'],
  'subject_id': 'rbndt002',
  'acquisition_type': 't2_mri',
  'format': 'DICOM',
  'date': datetime.date(2022, 3, 29)}]

In [15]:
data.images.search('"acquisition" in tags and acquisition_type == "t1_mri"')

SELECT [subject_id],[acquisition_type],[format],[date],_catchall FROM [images] WHERE ( json_extract([_catchall],'$."tags"') IS NOT NULL AND 'acquisition' IN (SELECT value FROM json_each(json_extract([_catchall],'$."tags"'))) ) and ( [acquisition_type] IS 't1_mri' )

[{'tags': ['image', 'mri', 't1', 'acquisition'],
  'files': ['/somewhere/d345653/acq0001.dcm',
   '/somewhere/d345653/acq0002.dcm',
   '/somewhere/d345653/acq0003.dcm',
   '/somewhere/d345653/acq0004.dcm'],
  'subject_id': 'rbndt001',
  'acquisition_type': 't1_mri',
  'format': 'DICOM',
  'date': datetime.date(2022, 3, 28)},
 {'tags': ['image', 'mri', 't1', 'acquisition'],
  'files': ['/somewhere/f569012/acq0001.dcm',
   '/somewhere/f569012/acq0002.dcm',
   '/somewhere/f569012/acq0003.dcm',
   '/somewhere/f569012/acq0004.dcm'],
  'subject_id': 'rbndt002',
  'acquisition_type': 't1_mri',
  'format': 'DICOM',
  'date': datetime.date(2022, 3, 29)}]

In [16]:
data.subjects.search('comment != null')

SELECT [subject_id],[birth_date],_catchall FROM [subjects] WHERE json_extract([_catchall],'$."comment"') IS NOT NULL

[{'name': 'Eléa',
  'sex': 'f',
  'comment': 'moved from Paris to Berlin in 2022',
  'subject_id': 'rbndt001',
  'birth_date': datetime.date(1968, 3, 1)}]